<%
# choose_routine.html.erb
# By Mathew Allen
# Displays the routine options available
%>
<% provide(:page_name, 'Choose a Routine') %>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Choose a Routine for Your Workout</h1>
   </div>
   <div class="col-xs-12 col-sm-6">
    <div class="row text-center">
      <h2>My Routines</h2>
    </div>

    <div class="row">
     <div class="col-xs-12">
       <% if @my_choices.empty? %>
        <span class="col-xs-12 text-center">
          <%= link_to "Design a Routine", new_routine_path(), { class: 'btn btn-lg btn-primary' } %>
        </span>
       <% end %>
       <% for @choice in @my_choices %>
           <div class=" text-center col-xs-12">
             <%= link_to @choice.name,
                         new_for_routine_workout_sessions_path(@choice.name),
                         class: "btn btn-primary btn-lg" %>
           </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
      <div class="row text-center">
        <h2>Public Routines</h2>
      </div>


    <div class="row">
      <% for @choice in @public_choices %>
          <div class=" text-center col-xs-12">
            <%= link_to @choice.name,
                        new_for_routine_workout_sessions_path(@choice.name),
                        class: "btn btn-primary btn-lg" %>
          </div>
       <% end %>
    </div>
  </div>
    <div class="row text-center">

    </div>
  <div class="row text-center">
    <h2>Wing it</h2>
    <%= link_to 'Custom Session', new_workout_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
