/*
 * application.scss
 * Author: Mathew Allen
 * Primarily imports other SCSS files.
 */

/*
  Bootstrap variable overwrites
*/
@import "./variables";
/*
  Bootstrap
*/
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 70px;
}
nav {
  header {
    nav {
      a {
        color: $brand-primary;
      }
    }
    border-bottom: $brand-primary;
  }
}


ul.error-list {
  color: $state-danger-bg;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
